// Fontes
$fontDoTexto: Roboto, sans-serif;
$corDoCabecalho: #182C61;
$corDeFundo: #f5f6fa;
$corDoBotao: #44bd32;


// Formatações

@mixin cabecalho() {

    .container {  
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        
        .menu {
            display: flex;

            li {
                font-weight: bold;
                margin-left: 24px;

                a {
                   text-decoration: none;
                   color: #fff;
                }
            }
        }
    }
}

@mixin produto() {
    margin-top: 40px;
     display: grid;
     grid-template-columns: repeat(3, 32.66%);
     column-gap: 1%;
     row-gap: 4%;
     width: 100%;

     .product-item img {
            width: 100%;
            border-radius: 16px;
        }
}

@mixin colorButton() {
    .product-button {
        display: block;
        background-color: $corDoBotao;
        color: #fff;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 8px;
        text-decoration: none;
    }
    .product-button:hover {
      background-color: #4cd137;
    }
}

// Plataformas
$tablet: 1023px;
$mobile: 767px;

@mixin Tablet() {
    @media screen and (max-width: $tablet) {
    .container {
        max-width: 80%;

        .products {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }

  }
}

@mixin Mobile() {
    @media screen and (max-width: $mobile) {
    .products {
        display: block;
        
        .product-item  {
            margin-bottom: 32px;
        }
    }
}
}
