* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #e7eef3 url('noise.png');
    color: rgb(26, 26, 26);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 1280px;
    height: 100vh; 
    padding: 16px;
}

.container {
    text-align: center;
    height: 400px;
    padding: 8px;
}

h1 {
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-shadow: -2px -2px 2px rgba(255, 255, 255, 0.6), /* Realce claro superior esquerdo */
    2px 2px 3px rgba(0, 0, 0, 0.7); /* Sombra escura inferior direita */
}

#formulario {
   padding-bottom: 12%;
}

input, button {
  height: 10%;
}

input {
    width: 10rem; 
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgb(210, 210, 210);
}

.btn {
    background: #34d958;
    border-radius: 28px;
    box-shadow: 2px 1px 3px #666666;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #49ed6d;
    color: #fff4f4;
    box-shadow: none;
  }

li {
    width: 75%;
    margin-left: 30%;
    margin-bottom: 7px;
    padding-right: 35%;
    cursor: pointer;
}

.line-through {
    text-decoration: line-through;
}
