@import "variaveis";
@import "mapas";

@breakpointSmall: ~"(max-width: 767px)";
@breakpointMiddle: ~"(min-width: 768px) and (max-width: 1023px)";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: @corDeFundo;
}

li {
    list-style: none;
}

header {
    background-color: #cores[corDoCabecalho];
    position: sticky;
    top: 0;
    left: 0;
    .container {
       max-width: 1024px;
       width: 100%;
       margin: 0 auto;
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 16px 0;

       @media @breakpointMiddle {
         max-width: 80%;
       }

       @media @breakpointSmall {
         max-width: 70%;
       }

       .menu {
         display: flex;
         li {
             font-weight: bold;
             margin-left: 24px;
            a {
              color: #cores[corDoTexto];
              text-decoration: none;
            }
         }
        }
    }
}

section {
    padding: 56px 0;
    .products {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 32.66%);
        column-gap: 1%;
        row-gap: 4%;
        width: 100%;

        .product-item img {
            width: 100%;
            border-radius: 16px;

            &-button {
            display: block;
            background-color: #cores[corDoBtn];
            color: #cores[corDoTexto];
            text-align: center;
            padding: 8px 0;
            border-radius: 8px;
            margin-top: 8px;
            text-decoration: none;
        }
        .product-button:hover {
                background-color: #cores[corDoBtnClaro];
            }

    }
   }
}