@use 'config/reset';
@use 'config/variaveis.scss';


body {
    background-color: variaveis.$corDeFundo;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

 li {
    list-style: none;
 }

header {
    background-color: variaveis.$corDoCabecalho;
    position: sticky;
    top: 0;
    left: 0;
    @include variaveis.cabecalho;
}

section {
    padding: 56px 0;
}

.products {
        @include variaveis.produto;
    }

.product-button {
    @include variaveis.colorButton;
}


@include variaveis.Tablet;
@include variaveis.Mobile;
